body {
	margin: 0;
	padding: 0;
	font-family: "Cuprum", Arial, sans-serif;
	background-color: #ffffff;
}

a {
	text-decoration: none;
	color: #ffffff;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.main-header {
	background-color: #f4f7f9;
	font-size: 17px;
}

.header-top {
	background-color: #293449;
}

.header-logo {
	width: 220px;
	height: 47px;
	box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
	background-color: #ee3643;
}

.header-logo:hover,
.header-logo:focus {
	background-color: #ca2c37;
}

.header-logo:active {
	background-color: #ba2732;
}

.header-search {
	background-color: #293449;
	border: none;
	color: #ffffff;
}

.header-search:hover {
	background-color: #212a3a;
}

.header-search:focus {
	background-color: #ffffff;
	color: #000000;
}

.markers-link:hover,
.basket-link:hover {
    background-color: #212a3a;
}

.markers-link:active,
.basket-link:active {
	color: rgba(255, 255, 255, 0.6);
	background-color: #161d29;
}

.to-order {
	width: 150px;
	height: 42px;
	background-color: #63a63e;
}

.to-order:hover,
.to-order:focus {
	background-color: #5fbb2d;
}

.to-order:active {
	background-color: #518534;
	color: rgba(255, 255, 255, 0.5);
}

.main-caption {
	font-size: 16px;
	font-style: italic;
	line-height: 1.44;
	text-align: left;
	color: #ee3643;
}

.phone {
	font-size: 21px;
	line-height: 1;
	text-align: left;
	color: #ee3643;
	border: 3px solid #ffffff;
}

.header-adress {
	font-size: 14px;
	line-height: 1.71;
	color: #32425c;
}

.user-navigation {
	list-style: none;
}

.login-link,
.registration-link {
	font-size: 21px;
	line-height: 1;
	color: #000000;
}

.login-link:hover,
.registration-link:hover,
.login-link:focus,
.registration-link:focus {
	color: #ee3643;
}

.login-link:active,
.registration-link:active {
	color: rgba(0, 0, 0, 0.3);
}

.header-menu {
	box-shadow: inset 0px -5px 0 0 #293449;
    background-color: #32425c;
}

.header-menu-list {
	list-style: none;
}

.header-menu-link:hover,
.header-menu-link:focus {
	background-color: #1d2739;
}

.header-menu-link:active {
	color: rgba(255, 255, 255, 0.5);
}

.materials {
	background-color: #ffbf47;
}

.offers-caption {
	font-size: 24px;
	font-weight: bold;
	line-height: 1.25;
	color: #ffffff;
}

.offers-link {
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

.offers-link:hover,
.offers-link:focus {
	background-color: rgba(0, 0, 0, 0.2);;
}

.offers-link:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.tools {
	background-color: #3bbce3;
}

.technique {
	background-color: #dc91d8;
}

.discount {
	background-color: #8ed78f;
}

.delivery {
	background-color: #ffc047;
}

.slider-drills {
	background-image: url("../img/slider-1.jpg");
	background-repeat: no-repeat;
}

.slider-perforators {
	background-image: url("../img/slider-2.jpg");
	background-repeat: no-repeat;
}

.slider-description {
	background-color: rgba(0, 0, 0, 0.25);
}

.slider-caption {
	font-size: 36px;
	font-weight: bold;
	text-align: left;
	color: #ffffff;
	text-transform: uppercase;
}

.slider-text {
	font-size: 18px;
	line-height: 1.33;
	text-align: left;
	color: #ffffff;
}

.slider-link {
	background-color: #ee3643;
	font-size: 14px;
	line-height: 1.29;
	text-align: center;
	color: #ffffff;
}

.slider-link:hover,
.slider-link:focus {
	background-color: #ca2c37;
}

.slider-link:active {
	background-color: #ba2732;
}

.popular-goods-top {
	background-color: #f9f5f0;
}

.popular-goods-caption {
	font-size: 30px;
	text-align: left;
	color: #32425c;
	text-transform: uppercase;
}

.popular-goods-link {
	background-color: #ee3643;
	font-size: 14px;
	line-height: 1.29;
	text-align: center;
	color: #ffffff;
}

.popular-goods-list {
	font-family: "PT Sans", Arial, sans-serif;
	list-style: none;
}

.popular-goods-item {
	border: 1px solid #eaeaea;
}

.popular-goods-name {
	font-size: 18px;
	font-weight: bold;
	line-height: 1.11;
	color: #000000;
	text-transform: uppercase;
}

.old-price {
	font-size: 17px;
	font-weight: bold;
	line-height: 1.06;
	color: #a9a9a9;
	text-decoration: line-through;
}

.current-price {
	display: block;
	width: 141px;
    height: 38px;
    background-color: #ee3643;
	font-size: 17px;
	font-weight: bold;
	line-height: 1.06;
	color: #ffffff;
}

.buy-item {
	box-shadow: inset 0px -3px 0 0 #367315;
	background-color: #63a63e;
	border: none;
	font-family: Cuprum;
	font-size: 14px;
	line-height: 1.29;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
}

.buy-item:hover,
.buy-item:focus {
	background-color: #5fbb2d;
}

.buy-item:active {
	box-shadow: none;
	background-color: #518534;
}

.marker-item {
	border: 3px solid #63a63e;
	background-color: #ffffff;
	font-family: Cuprum;
	font-size: 14px;
	line-height: 1.29;
	color: #32425c;
	text-transform: uppercase;
}

.marker-item:hover,
.marker-item:focus {
	border-color: #32425c;
}

.marker-item:active {
	border-color: #32425c;
	opacity: 0.3;
}

.popular-producers-top {
	background-color: #f9f5f0;
}

.popular-producers-caption {
	font-size: 30px;
	color: #32425c;
	text-transform: uppercase;
}

.all-producers-link {
	background-color: #ee3643;
	font-size: 14px;
	line-height: 1.29;
	text-align: center;
	color: #ffffff;
}

.popular-producers-list {
	list-style: none;
}

.popular-producers-link {
	border: 1px solid #e5e5e5;
}

.popular-producers-link:hover,
.popular-producers-link:focus {
	box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.popular-producers-link:active {
	box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
	opacity: 0.3;
}

.services {
	background-color: #f4f7f9;
}

.services-caption {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.services-text {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
}

.services-list {
	list-style: none;
}

.services-button {
	box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
    background-color: #32425c;
    border: none;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.43;
    text-align: left;
    color: #ffffff;
}

.services-button:hover {
	background-color: #293449;
}

.services-button:focus {
	box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
    background-color: #ffffff;
    color: #32425c;
    outline: none;
}

.services-description-delivery {
	background-image: url("../img/icon-delivery.png");
	background-repeat: no-repeat;
}

.services-description-guarantee {
	background-image: url("../img/icon-guarantee.png");
	background-repeat: no-repeat;
}

.services-description-credit {
	background-image: url("../img/icon-credit.png");
	background-repeat: no-repeat;
}

.services-description-caption {
	font-size: 36px;
	line-height: 36px;
	color: #32425c;
	text-transform: uppercase;
}

.services-description-text {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #000000;
}

.features-caption {
	font-size: 30px;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
}

.man-shopping {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #000000;
}

.delivery-features {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #000000;
}

.transport-companies {
	list-style: none;
}

.transport-companies-item {
	font-size: 18px;
	line-height: 20px;
	color: #000000;
}

.about-company {
	background-color: #ee3643;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
}

.contacts-caption {
	font-size: 30px;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
}

.contacts-text {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
    color: #000000; 
}

.email-button {
	background-color: #ee3643;
	border: none;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;
}

.footer-top {
	background-color: #32425c;
}

.footer-logo {
	width: 220px;
	height: 68px;
	box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
	background-color: #ee3643;
}

.footer-menu {
	list-style: none;
}

.footer-menu-link {
	font-size: 18px;
	line-height: 24px;
	color: #f1f5f7;
}

.footer-menu-link:hover,
.footer-menu-link:focus {
	text-decoration: underline;
}

.footer-menu-link:active {
	color: rgba(241, 245, 247, 0.5);
	text-decoration: none;
}

.footer-contacts {
    font-size: 18px;
    line-height: 24px;
    color: #f1f5f7;
}

.footer-menu-offers {
	list-style: none;
}

.footer-offers-link {
	font-size: 18px;
	line-height: 24px;
	color: #ffd180;
}

.footer-offers-link:hover,
.footer-offers-link:focus {
	text-decoration: underline;
}

.footer-offers-link:active {
	color: rgba(255, 209, 128, 0.5);
	text-decoration: none;
}

.footer-bottom {
	background-color: #293449;
}

.copyright {
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
}

.social-buttons {
	list-style: none;
}

.social-btn {
	background-color: #212a3a;
}

.social-btn:hover,
.social-btn:focus,
.social-btn:active {
	background-color: #ee3643;
}

.feedback {
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
}

.email {
	color: #ffd180;
}

.email:hover,
.email:focus {
	text-decoration: underline;
}

.email:active {
	text-decoration: none;
	color: #ee3643;
}

.developer {
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
}

.developer-link {
	color: #ffd180;
}

.developer-link:hover,
.developer-link:focus {
	text-decoration: underline;
}

.developer-link:active {
	text-decoration: none;
	color: #ee3643;
}

.modal {
	display: none;
}