body {
	margin: 0;
	padding: 0;
	font-family: "Cuprum", Arial, sans-serif;
	background-color: #ffffff;
}

a {
	text-decoration: none;
	color: #ffffff;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0;
}

.main-header {
	display: flex;
	flex-direction: column;
	margin-bottom: 59px;
	background-color: #f4f7f9;
	font-size: 17px;
	line-height: 18px;
}

.header-wrapper {
	width: 100%;
	margin-bottom: 40px;
	background-color: #293449;
}

.header-wrapper .container {
	display: flex;
	flex-wrap: wrap;
	min-height: 42px;
	background-color: #293449;
}

.header-logo {
	width: 220px;
	height: 42px;
	box-shadow: 0px 5px 0 0 #b72530;
	background-color: #ee3643;
}

.header-logo:hover,
.header-logo:focus {
	background-color: #ca2c37;
	box-shadow: 0px 5px 0 0 #9b1c26;
}

.header-logo:active {
	background-color: #ba2732;
	box-shadow: 0px 5px 0 0 #8f1821;
}

.header-logo img {
	margin: 13px 54px;
}

.search {
	position: relative;
}

.header-search {
	width: 270px;
	height: 42px;
	padding-left: 50px;
	vertical-align: middle;
	background-color: #293449;
	border: none;
	color: #ffffff;
}

.header-search:hover {
	background-color: #212a3a;
}

.header-search:focus {
	background-color: #ffffff;
	color: #000000;
}

.icon-search {
	position: absolute;
	top: 12px;
	left: 17px;
	opacity: 0.5;
}

input[type="search"]:hover ~ .icon-search {
	opacity: 1;
}

input[type="search"]:focus ~ .icon-search {
	z-index: 10;
	opacity: 1;
}

input[type="search"]:focus ~ .icon-search > path {
	fill: #ee3643;
}

input[type="search"]::-moz-placeholder {
	font-size: 17px;
	line-height: 18px;
	color: #ffffff; 
}

input[type="search"]::-webkit-input-placeholder { 
	font-size: 17px;
	line-height: 18px;
	color: #ffffff; 
}

input[type="search"]:-ms-input-placeholder { 
	font-size: 17px;
	line-height: 18px;
	color: #ffffff; 
}
input[type="search"]::-ms-input-placeholder { 
	font-size: 17px;
	line-height: 18px;
	color: #ffffff; 
}

input[type="search"]::placeholder { 
	font-size: 17px;
	line-height: 18px;
	color: #ffffff; 
}

.markers-link {
	position: relative;
	padding: 13px 28px 10px 44px;
}

.markers-link::before {
	position: absolute;
	content: "";
	left: 17px;
	top: 12px;
	width: 14px;
	height: 18px;
	background-image: url("../img/icon-bookmark.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.markers-link:hover::before,
.markers-link:focus::before,
.basket-link:hover::before,
.basket-link:focus::before {
	opacity: 1;
}

.markers-link:active::before,
.basket-link:active::before {
	opacity: 0.5;
}

.basket-link {
	position: relative;
	padding: 13px 26px 10px 50px;
}

.basket-link::before {
	position: absolute;
	content: "";
	left: 18px;
	top: 12px;
	width: 15px;
	height: 15px;
	background-image: url("../img/icon-cart.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.markers-link:hover,
.basket-link:hover,
.markers-link:focus,
.basket-link:focus {
	background-color: #212a3a;
}

.markers-link:active,
.basket-link:active {
	color: rgba(255, 255, 255, 0.6);
	background-color: #161d29;
}

.to-order {
	padding: 12px 20px;
	background-color: #63a63e;
}

.to-order:hover,
.to-order:focus {
	background-color: #5fbb2d;
}

.to-order:active {
	background-color: #518534;
	color: rgba(255, 255, 255, 0.5);
}

.header-middle {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	margin-bottom: 25px;
	padding: 0;
}

.main-caption {
	width: 200px;
	margin-right: 69px;
	margin-left: 50px;
	margin-top: 8px;
	font-size: 16px;
	font-weight: 200;
	font-style: italic;
	line-height: 23px;
	text-align: left;
	color: #ee3643;
}

.header-contacts {
	margin: 0;
	margin-right: 70px;
	padding: 0;
}

.phone {
	position: relative;
	width: 145px;
	margin-top: 5px;
	padding: 10px 48px 9px 70px;
	font-size: 21px;
	line-height:21px;
	text-align: left;
	color: #ee3643;
	border: 3px solid #ffffff;
}

.phone::before {
	position: absolute;
	content: "";
	width: 19px;
	height: 19px;
	top: 13px;
	left: 15px;
	background-image: url("../img/icon-phone.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.header-adress {
	margin-top: -17px;
	padding: 0 10px;
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
}

.main-user-navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	margin-top: 18px;
	padding: 0;
	width: 280px;
	list-style: none;
}

.main-user-navigation li {
	margin: 0;
	padding: 0;
}

.login-item {
	position: relative;
	margin-right: 10px;
}

.login-link,
.registration-link {
	margin-top: 8px;
	font-size: 21px;
	line-height: 21px;
	color: #000000;
	background-color: #ffffff;
}

.login-link {
	padding: 10px 27px 11px 47px;
}

.icon-login {
	position: absolute;
	top: 2px;
	left: 14px;
	width: 20px;
	height: 17px;
	z-index: 10;
}

.login-link:hover ~ .icon-login > path,
.login-link:focus ~ .icon-login > path {
	fill: #2f405b;
}

.login-link:active ~ .icon-login > path {
	fill: #c5c5c5;
}

.registration-link {
	padding: 11px 23px 11px 22px;
}

.login-link:hover,
.registration-link:hover,
.login-link:focus,
.registration-link:focus {
	color: #ee3643;
}

.login-link:active,
.registration-link:active {
	color: rgba(0, 0, 0, 0.3);
}

.header-menu {
	margin-bottom: 60px;
	box-shadow: inset 0px -5px 0 0 #293449;
	background-color: #32425c;
}

.header-menu-list {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style: none;
}

.header-menu-link {
	display: block;
	padding: 21px 31px;
}

.header-menu-item:first-child a {
	padding-left: 49px;
}

.header-menu-item:last-child a {
	padding-right: 53px;
}

.header-menu-link:hover,
.header-menu-link:focus {
	background-color: #1d2739;
}

.header-menu-link:active {
	color: rgba(255, 255, 255, 0.5);
}

.offers {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 33px;
}

.offers-caption {
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
	color: #ffffff;
}

.offers-section {
	position: relative;
	width: 277px;
	min-height: 76px;
	margin-bottom: 20px;
	padding-left: 23px;
	padding-top: 21px;
	padding-bottom: 22px;
}

.offers-section h3 {
	margin: 0;
	margin-bottom: 12px;
	padding: 0;
}

.offers-link {
	display: block;
	min-width: 135px;
	min-height: 18px;
	margin-right: 140px;
	padding: 10px 0;
	background-color: rgba(0, 0, 0, 0.1);
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
}

.offers-link:hover,
.offers-link:focus {
	background-color: rgba(0, 0, 0, 0.2);;
}

.offers-link:active {
	background-color: rgba(0, 0, 0, 0.3);
}

.materials {
	background-color: #ffbf47;
	background-image: url("../img/icon-1.svg");
	background-repeat: no-repeat;
	background-position: 213px 30px;
}

.tools {
	background-color: #3bbce3;
	background-image: url("../img/icon-2.svg");
	background-repeat: no-repeat;
	background-position: 197px 33px;
	
}

.technique {
	background-color: #dc91d8;
	background-image: url("../img/icon-3.svg");
	background-repeat: no-repeat;
	background-position: 191px 31px;
}

.discount {
	background-color: #8ed78f;
	background-image: url("../img/icon-4.svg");
	background-repeat: no-repeat;
	background-position: 196px 26px;
}

.delivery {
	background-color: #ffc047;
	background-image: url("../img/icon-5.svg");
	background-repeat: no-repeat;
	background-position: 191px 32px;
}

.discount-delivery {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.slider-offers {
	position: relative;
	width: 620px;
	min-height: 265px;
}	

.offers-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.offers-list-item {
	display: none;
	padding: 23px 20px 22px 25px;
}

.offers-list-item:nth-child(1) {
	background-image: url("../img/slider-1.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.offers-list-item:nth-child(2) {
	background-image: url("../img/slider-2.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.slider-caption {
	margin: 0;
	padding: 0;
	margin-bottom: 3px;
	font-size: 36px;
	line-height: 36px;
	font-weight: bold;
	text-align: left;
	color: #ffffff;
	text-transform: uppercase;
}

.slider-text {
	margin: 0;
	padding: 0;
	font-size: 18px;
	line-height: 24px;
	text-align: left;
	color: #ffffff;
}

.slider-link {
	display: block;
	width: 195px;
	margin-top: 120px;
	padding: 10px 0;
	background-color: #ee3643;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	border-radius: 3px;
}

.slider-offers-controls {
	position: absolute;
	display: flex;
	justify-content: space-between;
	width: 100%;
	top: 40%;
}

.slider-offers-controls label {
	position: relative;
	display: inline-block;
	width: 22px;
	height: 40px;
	cursor: pointer;
}

.slider-offers-controls .drills {
	margin-left: 25px;
	background-image: url("../img/icon-left.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.slider-offers-controls .perforators {
	margin-right: 20px;
	background-image: url("../img/icon-right.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

#drills:checked ~ .offers-list .offers-list-item:nth-child(1) {
	display: block;
}

#perforators:checked ~ .offers-list .offers-list-item:nth-child(2) {
	display: block;
}

.red-button:hover {
	background-color: #ca2c37;
}

.red-button:active {
	background-color: #ba2732;
}

.popular-goods-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 23px;
	padding: 22px 24px 22px 30px;
	background-color: #f9f5f0;
}

.popular-goods-caption {
	margin: 0;
	padding: 0;
	font-size: 30px;
	font-weight: normal;
	line-height: 30px;
	text-align: left;
	color: #32425c;
	text-transform: uppercase;
}

.popular-goods-link {
	display: block;
	padding: 12px 55px;
	background-color: #ee3643;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	border-radius: 3px;
}

.popular-goods-list,
.catalog-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
	list-style: none;
}

.catalog-item:nth-child(3n) {
	margin-right: 0px;
}

.popular-goods-item:nth-child(4n) {
	margin-right: 0px;
}

.popular-goods-item,
.catalog-item {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 218px;
	margin-right: 20px;
	margin-bottom: 20px;
	border: 1px solid #eaeaea;
	text-align: center;
}

.catalog-item:nth-child(3n) .catalog-item-price {
	margin-top: 43px;
}

.popular-goods-item:nth-child(4n) .popular-goods-price {
	margin-top: 43px;
}

.catalog-item .flag,
.popular-goods-item .flag,
.offers-section .flag {
	position: absolute;
	top: -1px;
	right: -1px;
	width: 60px;
	height: 60px;
	text-indent: -1000px;
	overflow: hidden;
	z-index: 20;
}

.catalog-item .flag-new,
.popular-goods-item .flag-new,
.offers-section .flag-new {
	background: url("../img/new flag.png") no-repeat 0 0;
}

.popular-goods-name,
.catalog-item-name {
	margin: 0;
	margin-top: 10px;
	margin-bottom: -5px;
	width: 157px;
	order: 1;
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	color: #000000;
}

.catalog-item-price,
.popular-goods-price {
	order: 2;
	margin-bottom: 20px;
	text-align: center;
}

.old-price {
	display: block;
	margin-bottom: 9px;
	font-size: 17px;
	font-weight: bold;
	line-height: 18px;
	color: #a9a9a9;
	text-decoration: line-through;
}

.current-price {
	position: relative;
	display: block;
	width: 73px;
	padding: 10px 30px;
	background-color: #ee3643;
	font-size: 17px;
	font-weight: bold;
	line-height: 18px;
	color: #ffffff;
	border-radius: 3px;
}

.current-price:after {
	content: "";
	position: absolute;
	top: -1px;
	right: -28px;
	width: 0;
	height: 0;
	border: 20px solid white;
	border-radius: 3px;
	border-left-color: #ee3643;
}

.buy-or-marker {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 218px;
	height: 88px;
	padding: 40px 0;
	background-color: #ffffff;
	z-index: 10;
}

.catalog-item:hover,
.popular-goods-item:hover {
	box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item:hover .buy-or-marker,
.catalog-item:focus-within .buy-or-marker,
.popular-goods-item:hover .buy-or-marker,
.popular-goods-item:focus-within .buy-or-marker {
	display: block;
}

.buy-item,
.marker-item {
	display: block;
	width: 135px;
	margin: 0 auto;
	margin-top: 3px;
	margin-bottom: 8px;
	padding: 7px 0;
	background-color: #63a63e;
	border: 3px solid #63a63e;
	border-radius: 3px;
	font-family: Cuprum;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;

}

.buy-item {
	position: relative;
	border-bottom-color: #367315;
	color: #ffffff;
}

.buy-item::before {
	content: "";
	position: absolute;
	top: 8px;
	left: 11px;
	width: 15px;
	height: 15px;
	background-image: url("../img/icon-cart.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.buy-item:hover,
.buy-item:focus {
	background-color: #5fbb2d;
	border-top-color: #5fbb2d;
	border-left-color: #5fbb2d;
	border-right-color: #5fbb2d;
}

.buy-item:active {
	background-color: #518534;
	border-color: #518534;
}

.buy-item:hover::before,
.buy-item:focus::before,
.buy-item:active::before {
	opacity: 1;
}

.marker-item {
	background-color: #ffffff;
	color: #32425c;
}

.marker-item:hover,
.marker-item:focus {
	border-color: #32425c;
}

.marker-item:active {
	border-color: #32425c;
	opacity: 0.3;
}

.popular-producers {
	margin-bottom: 85px;
}

.popular-producers-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	padding: 25px 24px 25px 30px;
	background-color: #f9f5f0;
}

.popular-producers-caption {
	margin: 0;
	padding: 0;
	font-size: 30px;
	font-weight: normal;
	line-height: 30px;
	text-align: left;
	color: #32425c;
	text-transform: uppercase;
}

.all-producers-link {
	display: block;
	padding: 11px 69px;
	background-color: #ee3643;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	border-radius: 3px;
}

.popular-producers-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
}

.popular-producers-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 218px;
	height: 143px;
	margin-bottom: 20px;
	border: 1px solid #e5e5e5;
}

.popular-producers-link:hover,
.popular-producers-link:focus {
	box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.popular-producers-link:active {
	box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
	opacity: 0.3;
}

.services {
	padding-top: 68px;
}

.services-wrapper {
	width: 100%;
	background-color: #f4f7f9;
}

.services-caption {
	margin: 0;
	padding: 0;
	margin-bottom: 30px;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.services-text {
	margin: 0;
	padding: 0;
	max-width: 400px;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
}

.services-list {
	list-style: none;
}

.services-button {
	box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
	background-color: #32425c;
	border: none;
	font-size: 21px;
	font-weight: bold;
	line-height: 30px;
	text-align: left;
	color: #ffffff;
}

.services-button:hover {
	background-color: #293449;
}

.services-button:focus {
	box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
	background-color: #ffffff;
	color: #32425c;
	outline: none;
}

.services-description-delivery {
	background-image: url("../img/icon-delivery.png");
	background-repeat: no-repeat;
}

.services-description-guarantee {
	background-image: url("../img/icon-guarantee.png");
	background-repeat: no-repeat;
}

.services-description-credit {
	background-image: url("../img/icon-credit.png");
	background-repeat: no-repeat;
}

.services-description-caption {
	font-size: 36px;
	line-height: 36px;
	color: #32425c;
	text-transform: uppercase;
}

.services-description-text {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #000000;
}

.features-contacts {
	display: flex;
	justify-content: space-around;
	margin-top: 80px;
	margin-bottom: 85px;
}

.features {
	width: 1050px;
	margin-right: 120px;
	padding: 0;
}

.features-caption {
	font-size: 30px;
	font-weight: normal;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
}

.man-shopping {
	margin-bottom: 25px;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	letter-spacing: 0.12px;
	color: #000000;
}

.delivery-features {
	margin-bottom: 10px;
	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #000000;
}

.transport-companies {
	margin: 0;
	padding: 0 27px;
	margin-bottom: 27px;
	list-style: none;
}

.transport-companies-item {
	position: relative;
	padding: 10px;
	font-size: 18px;
	line-height: 20px;
	color: #000000;
}

.transport-companies-item::before {
	position: absolute;
	content: "";
	left: -26px;
	top: 20px;
	width: 25px;
	height: 2px;
	background-color: #ee3643;
}

.about-company {
	display: inline-block;
	padding: 10px 41px;
	background-color: #ee3643;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	border-radius: 3px;
}

.contacts-caption {
	font-size: 30px;
	font-weight: normal;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
}

.contacts-text {
	margin-bottom: 32px;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #000000; 
}

.map-link img {
	width: 300px;
	height: 158px;
}

.email-button {
	display: block;
	margin-top: 36px;
	padding: 11px 60px 9px 63px;
	background-color: #ee3643;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;
	border-radius: 3px;
}

.main-footer {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	line-height: 0;
}

.footer-top-wrapper {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #32425c;
}

.footer-top {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-bottom: 30px;
	background-color: #32425c;
}

.footer-logo {
	display: inline-block;
	width: 140px;
	height: 28px;
	padding: 20px 40px;
	box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
	background-color: #ee3643;
}

.footer-logo:hover,
.footer-logo:focus {
	background-color: #ca2c37;
}

.footer-logo:active {
	background-color: #ba2732;
}

.footer-menu {
	display: flex;
	justify-content: space-between;
	width: 548px;
	padding-top: 20px;
	list-style: none;
}

.footer-menu-link {
	font-size: 18px;
	line-height: 24px;
	color: #f1f5f7;
}

.footer-menu-link:hover,
.footer-menu-link:focus {
	text-decoration: underline;
}

.footer-menu-link:active {
	color: rgba(241, 245, 247, 0.5);
	text-decoration: none;
}

.footer-contacts {
	margin-left: 3px;
	font-size: 18px;
	line-height: 24px;
	color: #f1f5f7;
}

.footer-menu-offers {
	display: flex;
	justify-content: space-between;
	width: 524px;
	margin-top: 20px;
	list-style: none;
}

.footer-offers-link {
	font-size: 18px;
	line-height: 24px;
	color: #ffd180;
}

.footer-offers-link:hover,
.footer-offers-link:focus {
	text-decoration: underline;
}

.footer-offers-link:active {
	color: rgba(255, 209, 128, 0.5);
	text-decoration: none;
}

.footer-bottom-wrapper {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #293449;
}

.footer-bottom {
	display: flex;
	justify-content: space-between;
	padding: 25px 0;
	background-color: #293449;
}

.copyright {
	margin-right: 70px;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
}

.social-buttons {
	display: flex;
	flex-wrap: wrap;
	margin-top: 12px;
	list-style: none;
}

.social-buttons-item {
	margin-right: 4px;
}

.social-buttons-item:last-child {
	margin-right: 0;
}

.social-btn {
	display: block;
	width: 41px;
	height: 42px;
	border-radius: 50%;
	background-color: #212a3a;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.social-btn-vk {
	background-image: url("../img/icon-vk.svg");
}

.social-btn-fb {
	background-image: url("../img/icon-fb.svg");
}

.social-btn-in {
	background-image: url("../img/icon-insta.svg");
}

.social-btn:hover,
.social-btn:active {
	background-color: #ee3643;
}

.feedback {
	margin-left: 65px;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
}

.email {
	color: #ffd180;
}

.email:hover,
.email:focus {
	text-decoration: underline;
}

.email:active {
	text-decoration: none;
	color: #ee3643;
}

.developer {
	margin-right: 13px;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
}

.developer-link {
	color: #ffd180;
}

.developer-link:hover,
.developer-link:focus {
	text-decoration: underline;
}

.developer-link:active {
	text-decoration: none;
	color: #ee3643;
}

.modal {
	display: none;
}

.user-action {
	margin-left: -18px;
}

.user-id {
	display: flex;
	margin: 0;
	margin-top: 4px;
	padding: 0;
	background-color: #ffffff;
	list-style: none;
}

.user-icon {
	width: 20px;
	height: 18px;
	margin: 13px;
}

.user-icon:hover > path,
.user-icon:focus > path {
	fill: #2f405b;
}

.user-name {
	margin-top: 14px;
}

.user-profile {
	display: flex;
	margin: 0;
	padding: 0;
	font-size: 21px;
	line-height: 21px;
	color: #000000;
}

.user-profile:active {
	opacity: 0.3;
}

.quit {
	display: block;
	margin: 14px 10px 12px 36px;
}

.icon-logout {
	width: 21px;
	height: 17px;
}

.icon-logout:hover > g > path,
.icon-logout:focus > g > path {
	fill: #2f405b;
}

.icon-logout:active > g > path {
	fill: #c5c5c5;
}

.catalog-user-navigation {
	display: flex;
	margin: 0;
	margin-left: 17px;
	margin-top: 7px;
	padding: 0;
	list-style: none;
}

.catalog-user-navigation li {
	position: relative;
}

.catalog-user-navigation li:not(:first-child) {
	margin-left: 32px;
}

.catalog-user-navigation li:not(:first-child)::before {
	position: absolute;
	content: "";
	top: 6px;
	left: -17px;
	width: 4px;
	height: 5px;
	background-color: #32425c;
	border-radius: 50%;
}

.catalog-user-navigation a {
	font-size: 16px;
	line-height: 18px;
	color: #32425c;
	text-decoration: underline;
}

.catalog-user-navigation a:hover,
.catalog-user-navigation a:focus {
	color: #ee3643;
}

.catalog-user-navigation a:active {
	color: rgba(50, 66, 92, 0.3);
}

.breadcrumbs {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.breadcrumbs li {
	position: relative;
	margin-top: 20px;
}

.breadcrumbs li:not(:last-child) {
	margin-right: 40px;
}

.breadcrumbs li:not(:last-child)::after {
	position: absolute;
	content: "";
	top: 2px;
	right: -22px;
	width: 8px;
	height: 12px;
	background-image: url("../img/icon-right-small.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.breadcrumbs li,
.breadcrumbs a {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #000000;
	text-transform: uppercase;
}

.catalog-page-caption {
	padding: 25px 28px;
	background-color: #f2f6f8;
	font-size: 30px;
	font-weight: normal;
	line-height: 30px;
	color: #32425c;
	text-transform: uppercase;
}

.filters-sorting-catalog {
	display: flex;
	align-items: flex-start;
}

.sorting-catalog {
	display: flex;
	flex-direction: column;
	width: 700px;
}

.filters {
	display: flex;
	flex-direction: column;
	width: 220px;
	margin-right: 20px;
	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
}

.filters-form {
	margin: 0;
	padding: 0;
}

.filters-caption {
	margin: 0;
	padding: 10px 20px;
	background-color: #f7f3ec;
	font-size: 13px;
	font-weight: normal;
	line-height: 18px;
	color: #000000;
	text-transform: uppercase;
}

.filters fieldset {
	margin: 0;
	padding: 0;
	padding-bottom: 26px;
	border: none;
	border-bottom: 1px solid #e5e5e5;
}
.filters .power-type {
	border: none;
	padding-bottom: 59px;
}

.filters .power-type-legend {
	padding-top: 18px;
}

.filters legend {
	padding: 12px 0;
	font-size: 17px;
	font-weight: bold;
	line-height: 30px;
	text-transform: uppercase;
}

.filters .price-filter {
	width: 220px;
}

.range-filter {
	position: relative;
	height: 41px;
	margin-bottom: 10px;
	padding-top: 40px;
	padding-right: 20px;
	padding-left: 20px;
	background-color: #f7f3ec;
}

.range-filter .scale {
	height: 2px;
	background-color: #d7dcde;
}

.range-filter .bar {
	width: 82%;
	height: 2px;
	background-color: #00ca74;
}

.range-filter .toggle {
	position: absolute;
	top: 31px;
	left: 0;
	width: 4px;
	height: 4px;
	padding: 0;
	border: 8px solid #ffffff;
	background-color: #ababab;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 #cfcfcf;
	cursor: pointer;
}

.range-filter .toggle-min {
	left: 18px;
}

.range-filter .toggle-max {
	left: 160px;
}

.price-controls {
	position: relative;
	display: flex;
	justify-content: space-between;
	font-size: 0;
}

.price-controls label {
	display: inline-block;
	width: 95px;
	font-size: 16px;
	text-transform: uppercase;
}

.price-controls input {
	width: 77px;
	padding: 9px 7px;
	font-size: 17px;
	line-height: 18px;
	text-align: center;
	background-color: #f7f3ec;
	border: none;
}

.price-controls::before {
	position: absolute;
	content: "";
	top: 50%;
	left: 48%;
	width: 10px;
	height: 1px;
	background-color: black;
}

.min-price input {
	padding-left: 11px;
}

.max-price input {
	padding-left: 11px;
}

.producers legend {
	padding: 15px 0;
}

.producers-list,
.power-type-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.producers-item,
.power-type-item {
	position: relative;
	margin-bottom: 20px;
	padding-left: 35px;
}

.producers-item:last-child {
	margin-bottom: -4px;
}

.producers-list label,
.power-type-list label {
	display: block;
	font-size: 15px;
	line-height: 20px;
	color: #000000;
	text-transform: uppercase;
	cursor: pointer;
}

.producers-label::before {
	content: "";
	position: absolute;
	width: 23px;
	height: 23px;
	top: -3px;
	left: 0;
	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.7;
}

.producers-label::after {
	display: none;
	content: "";
	position: absolute;
	width: 27px;
	height: 23px;
	top: -3px;
	left: 0;
	background-image: url("../img/checkbox-on.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.7;
}

.producers-input:checked + .producers-label::before {
	display: none;
}

.producers-input:checked + .producers-label::after {
	display: block;
}

.producers-label:hover::before,
.producers-label:hover::after {
	opacity: 1;
}

.producers-input:focus ~ .producers-label::before,
.producers-input:focus ~ .producers-label::after {
	opacity: 0.9;
}

.power-type-label::before {
	content: "";
	position: absolute;
	width: 25px;
	height: 25px;
	top: -3px;
	left: 0;
	background-image: url("../img/radio-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.7;
}

.power-type-label::after {
	display: none;
	content: "";
	position: absolute;
	width: 25px;
	height: 25px;
	top: -3px;
	left: 0;
	background-image: url("../img/radio-on.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.7;
}

.power-type-input:checked + .power-type-label::before {
	display: none;
}

.power-type-input:checked + .power-type-label::after {
	display: block;
}

.power-type-label:hover::before,
.power-type-label:hover::after {
	opacity: 1;
}

.power-type-input:focus ~ .power-type-label::before,
.power-type-input:focus ~ .power-type-label::after {
	opacity: 0.9;
}

.producers-input:disabled ~ .producers-label,
.power-type-input:disabled ~ .power-type-label {
	opacity: 0.4;
}

.filters-button {
	padding: 9px 39px;
	background-color: #ffffff;
	border: 1px solid #e5e5e5;
	font-size: 13px;
	line-height: 18px;
	color: #000000;
	text-transform: uppercase;
}

.sorting {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	padding: 9px 18px;
	background-color: #f7f3ec;
	font-family: "PT Sans", Arial, sans-serif;
}

.sorting-caption {
	margin: 0;
	padding: 0;
	font-size: 13px;
	font-weight: normal;
	line-height: 18px;
	color: #000000;
	text-transform: uppercase;
}

.sorting-buttons {
	display: flex;
	width: 443px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.sorting-buttons li:nth-child(2) {
	margin-left: 70px;
}

.sorting-buttons li:nth-child(3) {
	margin-left: 65px;
}

.sorting a {
	font-size: 13px;
	line-height: 18px;
	color: rgba(0, 0, 0, 0.18);
	text-transform: uppercase;
	border-bottom: 1px dotted #ee3643;
}

.sorting a:hover,
.sorting a:focus {
	border-bottom-style: solid;
	color: #000000;
}

.sorting-buttons .sorting-up {
	margin-left: 48px;
	border: none;
	opacity: 0.2;
}

.sorting-buttons .sorting-down {
	margin-left: 19px;
	border: none;
	opacity: 0.2;
}

.sorting-active a {
	border: none;
	color: #ee3643;
}

.sorting-active a:hover {
	border: none;
	color: #ee3643;
}

.sorting-buttons .sorting-up:hover,
.sorting-buttons .sorting-down:hover,
.sorting-buttons .sorting-up:focus,
.sorting-buttons .sorting-down:focus {
	opacity: 1;
	border: none;
}

.sorting-active path {
	fill: #ee3643;
}

.sorting-active .sorting-up,
.sorting-active .sorting-down {
	opacity: 1;
	border: none;
}

.pagination-list {
	display: flex;
	justify-content: flex-start;
	margin-top: 41px;
	margin-left: 199px;
	margin-bottom: 70px;
	list-style: none;
}

.pagination-list a {
	margin-right: 10px;
	padding: 10px 15px;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #000000;
	text-transform: uppercase;
}

.pagination-list a:hover,
.pagination-list a:focus {
	border-color: #bdc6ca;
}

.pagination-list a:active {
	border-color: #ee3643;
}

.pagination-item-current a {
	background-color: #ee3643;
	color: #ffffff;
}

.pagination-item-next a {
	padding: 10px 30px;
}

.article-wrapper {
	width: 100%;
	background-color: #f4f7f9;
}

.perforators-article {
	padding: 36px 0;
	background-color: #f4f7f9;
}

.article-caption {
	margin-top: 27px;
	margin-bottom: 26px;
	font-size: 30px;
	font-weight: normal;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
}

.article-text {
	margin-bottom: 32px;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #000000;
}